@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700&display=swap');
.main-wrapper {
    font-family: "raleway", sans-serif;
}

.search-form__input {
    font-family: "raleway", sans-serif;
}

.search-form__button {
    font-family: "raleway", sans-serif;
}

.logo_img {
    width: 100px;
    height: auto;
}

.logo {
    display: block;
}