@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700&display=swap');
@import "nullstyle.scss";
body {
    font-size: 1em;
    font-family: 'Raleway', sans-serif;
    text-align: left;
}

h1 {
    font-size: 0, 8em;
}

#main_wrapper {
    width: 1199px;
    margin: auto;
}

#nav {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 10px;
    padding-left: 0;
}

.nav__link {
    padding-right: 30px;
}

a {
    color: black;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#logo img {
    width: 100px;
    height: auto;
}

#menu {
    font-size: bolder;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

footer {
    background-color: #f2f2f2;
    display: flex;
    justify-content: flex-start;
}

#nav__footer {
    list-style: none;
    padding-left: 0;
}

#conteneur {
    display: flex;
    justify-content: space-between;
}